.btn_container {
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
  padding: 0 15px;
}

.btn_container > button {
  padding: 0 16px;
  position: absolute;
  right: 15px;
}


.btn_play {
  line-height: 40px;
  padding: 0 30px;
  border-radius: 20px;
  background: transparent;
  border: 1px solid #fff;
  color: white !important;
  display: inline-block;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  color: #fff;
}

.btn_play:focus {
  outline: none;
}

.btn_play span {
  color: #fff;
  position: relative;
  z-index: 2;
}

.btn_play:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 20px;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 1;
  background-image: -moz-linear-gradient(0deg, #000000 0%, #332d38 100%);
  background-image: -webkit-linear-gradient(0deg, #000000 0%, #332d38 100%);
  background-image: -ms-linear-gradient(0deg, #000000 0%, #332d38 100%);
}

.btn_play:hover {
  color: #fff;
  border: 1px solid transparent;
}

.btn_play:hover:after {
  opacity: 1;
  color: #fff;

}

.my_container {
  height: 100%;
  width: 100%;
}

.container1988 {
  background-image: url(/img/1988back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-position: center;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}
.stars{
  width: 100%;
  height: 100%;
}

.stars > canvas{
  background-color: #01010157;
}

.modal-tips-dialog {
  margin-top: 20%;
}
.modal-tips-content {
    background: #00000033;
}

.modal-tips-header, .modal-tips-footer {
    border: none;
}

.modal-tips-body > h4, .modal-tips-header > button {
    color: white;
    text-align: center;
}

.qwestion-block {
  width: 100px;
  margin: 5px;
}

 /* переверните сторону при проведении мышью */
 .flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
 }

.flip-container, .front, .back {
  width: 100px;
  height: 100px;
  display: inline-block;
}

/* здесь находится скорость перевертывания */
.flipper {
 transition: 0.6s;
 transform-style: preserve-3d;
 position: relative;
}

/* скройте обратную сторону во время переворота */
.front, .back {
 backface-visibility: hidden;
 position: absolute;
 top: 0;
 left: 0;
}

/* лицевая сторона размещена над обратной */
.front {
 z-index: 2;
}

/* обратная, изначально скрытая сторона */
.back {
 transform: rotateY(180deg);
}

.info-container {
  float: left;
  max-width: 40%;
  position: absolute;
  padding: 0 20px;
  text-align: left;
  bottom: 5%;
}

.info-container > img{
  width: 60px;
  margin-right: 5px;
  display: block;
  cursor: pointer;
}

.info-container > h4 {
  color: white;
  display: inline;
  text-decoration: underline;
  cursor: pointer;
}

.info-container > h4:hover ~ .primary-btn, .info-container > img:hover ~ .primary-btn {
  background-image: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
  border: 1px solid transparent;
}

.info-container > a {
  padding: 13px;
  margin-left: 5px;
}


.information-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 22022222222222222;
  color: white;
  background: #171215de;
  text-align: center;
  transition: all 0.5s linear;
  opacity: 0;
  z-index: 1;
  padding: 0 15px;
}

.information-container > h1 {
  color: white;
  margin: 30% 0;
}
.information-content {
  margin: 10% 10px;
}

.information-image-content {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}
.information-image-content > img {
  width: 100%;
}
.information-description-content {
  display: inline-block;
  color: white;
  text-align: left;
  padding: 0 20px;
  width: 69%;
  vertical-align: text-bottom;
}

.information-description-content > h4 {
  color: white;
}

.information-description-content > #group {
  color: white;
  line-height: 1;
  margin-top: 40px;
}

.information-description-content > #song {
  color: #e66686;
  line-height: 0;
  margin-left: 20px;
}

.information-description-content > #description {
  color: #a7a7a7;
  display: block;
  margin-top: 50px;
}

.information-description-content > #link {
  color: #e66686;
  text-decoration: underline;
  margin-top: 20px;
  display: block;
}
